# SLU1 - Pandas 101: Examples notebook

In [2]:
import pandas as pd

### Create a pandas Series with some countries, capital and population

In [3]:
countries = pd.Series(['Denmark', 'Finland', 'Iceland', 'Norway', 'Greenland', 'Faroe Islands'])
capitals = pd.Series(['Copenhagen', 'Helsinki', 'Reykjavík', 'Oslo', 'Nuuk', 'Tórshavn'])
pop = pd.Series([5724456, 5498211, 335878, 5265158,56483,49188])

### Creating a pandas DataFrame

In [4]:
nordic_countries = pd.DataFrame({'Country': countries, 'Capital': capitals, 'Population':pop})

In [5]:
nordic_countries

         Country     Capital  Population
0        Denmark  Copenhagen     5724456
1        Finland    Helsinki     5498211
2        Iceland   Reykjavík      335878
3         Norway        Oslo     5265158
4      Greenland        Nuuk       56483
5  Faroe Islands    Tórshavn       49188

### Load a file

`pd.read_csv(filepath)`

This filepath is specific to the file you want and depends on where you currently are

In [6]:
iris = pd.read_csv('data/iris.csv')

### Info about the DataFrame

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal.length    150 non-null float64
sepal.width     150 non-null float64
petal.length    150 non-null float64
petal.width     150 non-null float64
variety         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Printing the top 10 entries

In [8]:
iris.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

### Printing the bottom 10 entries

In [9]:
iris.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

### Shape of the DataFrame

In [10]:
iris.shape

(150, 5)

In [11]:
nr_rows = iris.shape[0]
nr_cols = iris.shape[1]

### Get more information about the numerical features

In [12]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000